* {
    margin:0;
    padding: 0;
    font-family: "ano";
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.clear {
    clear:both;
}

/* Fonts */
@font-face {
    font-family: "ano";
    src: url("fonts/ano/ano.ttf") format("ttf"),
    url("fonts/ano/ano.eot") format("eot"),
    url("fonts/ano/ano.woff2") format("woff2"),
    url("fonts/ano/ano.woff") format("woff");
}


    #info .info_list i, #info .info_list:hover i, #contact .button:hover, #contact .button:focus, #contact .button {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
/* Header */
header {
    width: 90%;
    margin: 20px auto;
}


    /* Title*/
    header .title {
        float: left;
    }

    header .title h1 {
        font-size: 1.3em;
        line-height: 1.3em;
        text-decoration: underline;
    }
    /* End Title */


    /* Main Menu */
    .main_menu {

        float: right;
    }

    .main_menu ul {
        text-align: right;
    }

    .main_menu ul li {
        float: left;
        margin-left: 15px;
    }

    .main_menu ul li:first-child {
        margin-left: 0;
    }

    .main_menu ul li a {
        color: #000;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .main_menu ul .social_network {
        margin-left: 20px;
    }

    .main_menu ul .social_network a {
        font-size: 1.5em;
        line-height: 1.5em;
        top: -4px;
        position: relative ;
    }
    /* End Main Menu */
/* End Header */




/* Container */
.container {
    display:block;
    width: 100%;
    margin: 0 auto;
}

    /* presentation */
    #presentation {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
        display: block;
    }

    #presentation span {
        color: #dddddd;
        font-weight: 800;
    }

    #presentation h2 {
        font-weight: 800;
    }
    
    #presentation p {
        margin: 10px 0;
        font-weight: 500;
        font-size: 1em;
    }
    /* End presentation */

    /* Service */
    #service {
        width: 100%;
        background-color: #f6f6f6;
        display: inline-block;
    }

    #service .content {
        padding: 10px 0 47px 0;
    }

    #service h2 {
        font-size: 1.6em;
        padding: 50px 0 40px 0;
        text-align: center;
    }

    #service .service_content {
        width: 20%;
        margin-left: 4%;
        float: left;
        background-color: #fff;
        text-align: center;
        margin-bottom: 60px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .01);
        border-bottom: 5px solid transparent;
        transition: all .1s ease-in-out;
    }

    #service .service_content:hover {
        background: #ffffff none repeat scroll 0 0;
        border-bottom: 5px solid #333;
        box-shadow: 0 0 17px 0 #ddd;
        margin-top: -3px;
    }

    #service .service_content h3 {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        margin: 15px 0;
        font-weight: 700;
        font-size: 21px;
        color: #333;
    }

    #service .service_content p {
        line-height: 32px;
        color: #222;
        font-weight: 300;
        font-size: 14px;
    }

    #service .ico {
        font-size: 30px;
        box-shadow: 0 0 20px -2px rgba(60, 60, 60, .3);
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        margin:20px auto 0 auto;
    }

    #service .det {
        padding: 0 15px 10px 15px;
    }

    #service .service_content:hover .ico {
        color:#fff;
        background:#333;
        transition: 700ms ease;
    }
    /* End Service */

    /* INFO */
    #info {
        width: 100%;
        background-color: #ffffff;
        display: flex;
        text-align: center;
        padding: 40px 0;
    }

    #info .info_list {
        width: 25%;
        float: left;
    }

    #info .info_list h2 {
        font-size: 1.1em;
        line-height: 1.3em;
    }

    #info .info_list i {
        color: #333;
        font-size: 35px;
        margin: 15px 0 10px 0;
    }

    #info .info_list:hover i {
        transform: scale(1.2);
    }

    #info .info_list a {
        text-decoration: underline;
        color: #000000;
    }

    /* END INFO */

    /* Contact */
    #contact {
        background:#f7f7f7;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
    }

    #contact h2 {
        font-size: 1.6em;
        padding: 50px 0 20px 0;
    }

    #contact .block_map {
        width: 90%;
        margin: 0 auto;
    }

    #contact .block_map iframe {
        width: 100%;
        padding: 30px 0;
    }

    #contact form {
        width: 90%;
        margin: 0 auto;
    }

    #contact .medium {
        width: 49%;
        float: left;
    }

    #contact .medium:first-child {
        margin-right: 2%;
    }

    #contact .form_control {

        border: 0;
        width: 100%;
        /* height: 35px; */
        line-height: 2.8em;
        /* padding: 6px 12px; */
        color: #222;
        text-indent: 20px;
        background-color: #fff;
        background-image: none;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 30px;
        font-weight: 300;
    }

    #contact textarea {
        height: 177px !important;
        padding-top: 15px;
        border-radius: 0;
    }

    #contact .button {
        background-color: transparent;
        color: #333;
        font-family: 'poppins', sans-serif;
        border: 1px solid #333;
        cursor: pointer;
        width: 100%;
        margin: 15px 0 0 0;
        text-transform: uppercase;
        letter-spacing: 1pt;
        padding: 14px 0;
        border-radius: 0;
    }

    #contact .button:hover, #contact .button:focus {
        background-color: #333;
        color: #ffffff;
    }
    /* End Contact */
/* End Container */


/* Resp */
@media (max-width: 991px) {
    
}
/* End Resp */


/* Print */
@media print {
    #contact {
        display: none;
    }
}
/* End Print */